<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content>
  <section class="w-section mobile-wrapper">

    <div class="page-content" id="main-stack">
      <div class="w-nav navbar" data-collapse="all">
        <div class="w-container">
          <div class="wrapper-mask" data-ix="menu-mask"></div>
          <div class="navbar-title">Modificar Inventario</div>

          <a class="w-inline-block navbar-button right bigger" ng-click="modify(group)">
            <div class="navbar-button-icon icon ion-ios-checkmark-empty"></div>
          </a>
          <a class="w-inline-block navbar-button" ui-sref="menu.home">
            <div class="navbar-button-icon icon ion-ios-close-empty"></div>
          </a>
        </div>
      </div>
      <div class="body">
        <div class="w-form padding">
          <ng-form method="post">
            <div ng-repeat="item in groupdata">
              <div class="background-grey"></div>
              <div class="row-input-list">
                <label class="label-form" for="title">TITULO / NOMBRE:</label>
                <input class="w-input input-form in-grey" type="text" ng-model="group.nombre" ng-value="{{item.nombre}}" placeholder="{{item.nombre}}" required="required">
                <div class="separator-fields"></div>
              </div>
              <div class="row-input-list">
              <div class="w-clearfix">
                <div class="w-clearfix radios-container">
                  <label class="item item-input item-select">
                   <label class="label-form middle">PRIVACIDAD</label>

                  <select ng-model="group.status">
                    <option ng-value="publico">Publico</option>
                    <option ng-value="privado">Privado</option>
                  </select>
                  </label>
            

                </div>
              </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  </ion-content>
</ion-view>