<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <section class="w-section mobile-wrapper">

      <div class="page-content" id="main-stack">
        <div class="w-nav navbar" data-collapse="all">
          <div class="w-container">
            <div class="wrapper-mask" data-ix="menu-mask"></div>
            <div class="navbar-title">Detalles del Item</div>
            <!--<a class="w-inline-block navbar-button right bigger" ng-click="delete({{itemdata[0].id}})">
              <div class="navbar-button-icon icon ion-android-delete"></div>
            </a>-->
            <a class="w-inline-block navbar-button" ui-sref="menu.lists-items">
              <div class="navbar-button-icon icon ion-ios-close-empty"></div>
            </a>
          </div>
        </div>
        <div class="body">
          <div class="estirado news-container item-new">
            <div>
              <div class="grey-header">
                <h2 class="grey-heading-title" align="center">{{itemdata[0].nombre}}</h2>
              </div>
              <div class="text-new no-borders">
                <div>
                  <div class="separator-fields"></div>
                  <!--<h2 class="title-new">1.1. Web forms and emails</h2>
                  <div class="separator-fields"></div>-->
                  <p class="description-new">{{itemdata[0].description}}.</p>
                  <div class="separator-button"></div>
                </div>
                
              </div>
              <!-- end description-->
              <!--
              <div class="grey-header">
                <h2 class="grey-heading-title">1. Detalles secccion 1 del item</h2>
              </div>
              <div class="text-new no-borders">
                <div>
                  <div class="separator-fields"></div>
                  <h2 class="title-new">1.1. Web forms and emails</h2>
                  <div class="separator-fields"></div>
                  <p class="description-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam erat.
                    <br>
                    <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.
                    <br>
                    <br>Eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam erat,&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nuna.</p>
                  <div class="separator-button"></div>
                </div>
                <div>
                  <h2 class="title-new">1.2. Detalle del Item</h2>
                  <div class="separator-fields"></div>
                  <p class="description-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam erat.
                    <br>
                    <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.
                    <br>
                    <br>Eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam erat,&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nuna.</p>
                  <div class="separator-button"></div>
                </div>
              </div>
              
              <div class="grey-header">
                <h2 class="grey-heading-title">2. Detalle del item</h2>
              </div>
              <div class="text-new no-borders">
                <div>
                  <div class="separator-fields"></div>
                  <h2 class="title-new">2.1. Detalle del item</h2>
                  <div class="separator-fields"></div>
                  <p class="description-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam erat.
                    <br>
                    <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.
                    <br>
                    <br>Eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam erat,&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nuna.</p>
                  <div class="separator-button"></div>
                </div>
                <div>
                  <h2 class="title-new">2.2. Detalle del Item</h2>
                  <div class="separator-fields"></div>
                  <p class="description-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam erat.
                    <br>
                    <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.
                    <br>
                    <br>Eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam erat,&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolistique. Duis cursus, mi quis viverra ornare, eros dolor interdum nuna.</p>
                  <div class="separator-button"></div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>

    </section>
  </ion-content>
</ion-view>